body{
    background-color: #10100D;
}

h3{
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
}

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width: 200px;
    height: 200px;
}

img.pic:hover {
    border-radius: 50%;
    transition: .7s ease;
}

img.pic:not(:hover){
    border-radius: 0%;
    transition: .7s ease-out;
  }


.txt{
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    padding: 5px 0 5px 0;
}


.logos{
    display: flex;
    justify-content: center;
}

.home a{
    text-decoration: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
}

.creds p{
    display: inline-block;
    text-align: end;
    /* margin-left: 60px; */
    /* margin-top: 200px; */
    font-size: medium;
    color: #f5f3f4;
    font-family: 'Jost', sans-serif;
}

.creds p a{
    text-decoration: none;
    color: #f5e6ee;
}

/* Media queries */
@media (max-width: 767px) { /* Small devices (phones) */
    .pic{
      width: 100px;
      height: 100px;
    }
    
    .txt{
      font-size: 14px;
    }

    #home {
        font-size: 16px;
    }
    
    .creds p{
      font-size: 12px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) { /* Medium devices (tablets) */
    .pic{
      width: 150px;
      height: 150px;
    }
    
    .txt{
      font-size: 15px;
    }
    
    .creds p{
      font-size: 14px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) { /* Large devices (desktops) */
    .pic{
      width: 175px;
      height: 175px;
    }
    
    .txt{
      font-size: 16px;
    }
    
    .creds p{
      font-size: 16px;
    }
  }
  
  @media (min-width: 1200px) { /* Extra large devices (large desktops) */
    .pic{
      width: 200px;
      height: 200px;
    }
    
    .txt{
      font-size: 17px;
    }
    
    .creds p{
      font-size: 18px;
    }
  }
