body{
  background-color: #060606;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a15;
  margin-top: 0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#developer-name {
  font-size: 28px;
  margin: 0;
  color: #d6d6d7;
  font-family: 'Montserrat', sans-serif;
}

#links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#links li {
  margin-right: 20px;
  font-family: 'Oxygen', sans-serif;
}

#links li:last-child {
  margin-right: 0;
}

#links a {
  text-decoration: none;
  font-size: 16px;
  color: #d6d6d7;
  transition: all 0.2s ease-in-out;
}

#links a:hover {
  color: #ada3a3;
}

#navbar #developer-name:hover {
  color: #d24d2c;
  cursor: auto;
}

#page-title {
  text-align: center;
  color: #d6d6d7;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

img.pic:hover {
  border-radius: 50%;
  transition: .7s ease;
}

img.pic:not(:hover){
  border-radius: 0%;
  transition: .7s ease-out;
}

.txt {
  text-align: center;
  color: #d6d6d7;
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
  padding: 5px 0 5px 0;
}

.logos {
  display: flex;
  justify-content: center;
}

.logos img {
  width: 48px;
  opacity: 50%;
}

.logos img:hover {
  transform: scale(105%);
  opacity: 100%;
}

#portfolio-link {
  text-decoration: underline;
  color: #d6d6d7;
}

footer {
  background-color: #191919;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-details {
  color: #d6d6d7;
  font-family: "Oxygen", sans-serif;
  flex-basis: 60%;
  text-align: left;
}


/* For small screens */
@media (max-width: 600px) {
  body{
    background-color: #060606;
  }

  #navbar {
    flex-direction: column;
    padding: 10px;
  }

  #developer-name {
    margin-bottom: 10px;
  }

  #links {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 75px;
    left: 0;
    background-color: #191919;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  #links li {
    margin-right: 0;
    margin-bottom: 5px;
    margin-bottom: 5px;
  }

  #page-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .pic {
    width: 150px;
    height: 150px;
  }

  .txt {
    font-size: 14px;
    line-height: 1.5;
  }

  .logos {
    flex-wrap: wrap;
  }

  .logos img {
    width: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 100%;
  }

  #resume-link {
    font-size: 16px;
    margin-top: 10px;
  }

  footer {
    font-size: 12px;
    padding: 10px;
  }
}
/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 960px) {

  #links {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 75px;
    left: 0;
    background-color: #191919;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .pic {
    width: 300px;
    height: 300px;
  }
  .txt {
    font-size: 16px;
  }
  .logos img {
    width: 40px;
    opacity: 100%;
  }
  #resume-link {
    font-size: 16px;
  }
  .home a {
    font-size: 18px;
  }
  .creds p {
    font-size: 14px;
  }
}