body{
    background-color: #10100D;
}

h2{
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    margin-bottom: 50px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .project-card {
    margin-left: auto;
    width: 350px;
    background-color: #10100D;
    border-radius: 5px;
    border-color: aqua;
    padding: 5px;
    display: flex;
    font-family: 'Jost', sans-serif;
    flex-direction: column;
    align-items: center;
    margin: 5px 15px;
  }
  
  .project-card p {
    color: whitesmoke;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
  }
  
  button {
    margin: 10px 0;
    background-color: #111110;
    border: none;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: dimgrey;
  }

#home{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
}

.creds p{
    display: inline-block;
    text-align: end;
    font-size: medium;
    color: #f5f3f4;
    font-family: 'Jost', sans-serif;
}

.creds p a{
    text-decoration: none;
    color: #f5e6ee;
}

@media screen and (max-width: 1024px) {
    h2{
        text-align: center;
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        margin: 95px;
        font-size: xx-large;
    }

    .container {   
        display: list-item;
        /* text-align: center; */
    }
    .project-card {
        margin-left: auto;
        margin-right: auto;
    }

    #home{
        font-size: xx-large;
        margin: 30px;
    }

    .creds p{
        text-align: left;
        float: left;
        font-size: xx-large;
        color: #f5f3f4;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }

    p{
        text-align: center;
        font-size: xx-large;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        margin-left: 65px;
        margin-right: 65px;
    }
}


/* CSS for smaller screens */
@media (max-width: 767px) {
    body {
    background-color: #10100D;
    }
    
    h2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    .project-card {
    width: 90%;
    margin: 10px 0;
    }
    
    .project-card p {
    font-size: 14px;
    padding: 5px 10px;
    }
    
    button {
    margin: 10px 0;
    font-size: 13px;
    }
    
    #home {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    
    .creds p {
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 14px;
    text-align: center;
    }
    }