body {
    background-color: #10100D;
    font-family: 'Jost', sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 80%;
  }
  
  .project-card p {
    color: whitesmoke;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
  }
  
  button {
    margin: 10px 0;
    background-color: #222222;
    border: none;
    padding: 15px;
    margin: 5px;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: rgb(44, 44, 44);
    cursor: pointer;
  }
  
  #home {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 50px;
  }
  
  .creds p {
    display: inline-block;
    text-align: end;
    font-size: medium;
    color: #f5f3f4;
    margin-top: 50px;
  }
  
  .creds p a {
    text-decoration: none;
    color: #f5e6ee;
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    
    .project-card {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 767px) {
    h2 {
      margin-top: 50px;
      margin-bottom: 25px;
      font-size: 1.8rem;
    }
    
    .container {
      display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .project-card {
      width: 100%;
      max-width: 100%;
      margin: 10px 0;
      font-size: 40px;
    }
  }
  